/* <div class="bang" style="width: 100px; text-align: center;">
    <a href="#" data-tip="Mua ngay">Mua ngay</a>
</div> */

.bang a {
    display: block;
    position: relative;
    transition: all 0.4s ease-out 0s;
}

.bang a:before,
.bang a:after {
    content: attr(data-tip);
    color: white;
    background-color: gray;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -40px;
    transition: all 0.3s ease 0s;
}

.bang a:after {
    content: '';
    height: 10px;
    width: 10px;
    padding: 0;
    transform: translateX(-50%) rotate(45deg);
    top: -18px;
    z-index: -1;
}

.bang a:hover:before,
.bang a:hover:after {
    display: block;
}